$BASE_BG_COLOR: #ffffff;
$BASE_HEADER_COLOR: #bde1ff;
$BASE_FOOTER_COLOR: #858585;
$BASE_TEXT_COLOR: #545f7e;
$BASE_TEXT_COLOR_HOVER: #41527e;
$BASE_ACTIVE_TEXT_COLOR: #387dff;

$SIZE_L: 1024px;
$SIZE_T: 768px;
$SIZE_M_L: 425px;
$SIZE_M_M: 375px;
